[submodule "src/spinal-browser-graph-inspector"]
	path = src/spinal-browser-graph-inspector
	url = https://github.com/spinalcom/spinal-browser-graph-inspector
[submodule "src/spinal-browser-spinaltwin"]
	path = src/spinal-browser-spinaltwin
	url = https://github.com/spinalcom/spinal-browser-spinaltwin
[submodule "src/spinal-env-drive-plugin-digital_twin"]
	path = src/spinal-env-drive-plugin-digital_twin
	url = https://github.com/spinalcom/spinal-env-drive-plugin-digital_twin
[submodule "src/spinal-env-viewer-context-geographic-service"]
	path = src/spinal-env-viewer-context-geographic-service
	url = https://github.com/spinalcom/spinal-env-viewer-context-geographic-service
[submodule "src/spinal-env-viewer-plugin-documentation-service"]
	path = src/spinal-env-viewer-plugin-documentation-service
	url = https://github.com/spinalcom/spinal-env-viewer-plugin-documentation-service
[submodule "src/spinal-organ-dump_manager"]
	path = src/spinal-organ-dump_manager
	url = https://github.com/spinalcom/spinal-organ-dump_manager
[submodule "src/spinal-env-viewer-plugin-forge"]
	path = src/spinal-env-viewer-plugin-forge
	url = https://github.com/spinalcom/spinal-env-viewer-plugin-forge
[submodule "src/spinal-env-viewer-plugin-graph_viewer"]
	path = src/spinal-env-viewer-plugin-graph_viewer
	url = https://github.com/spinalcom/spinal-env-viewer-plugin-graph_viewer
[submodule "src/spinal-env-viewer-plugin-item_model_selector"]
	path = src/spinal-env-viewer-plugin-item_model_selector
	url = https://github.com/spinalcom/spinal-env-viewer-plugin-item_model_selector
[submodule "src/spinal-organ-network_sample"]
	path = src/spinal-organ-network_sample
	url = https://github.com/spinalcom/spinal-organ-network_sample
[submodule "src/spinal-spatial-referential-service"]
	path = src/spinal-spatial-referential-service
	url = https://github.com/spinalcom/spinal-spatial-referential-service
[submodule "src/spinal-browser-admin"]
	path = src/spinal-browser-admin
	url = https://github.com/spinalcom/spinal-browser-admin
[submodule "src/spinal-browser-appstore"]
	path = src/spinal-browser-appstore
	url = https://github.com/spinalcom/spinal-browser-appstore
[submodule "src/spinal-browser-drive"]
	path = src/spinal-browser-drive
	url = https://github.com/spinalcom/spinal-browser-drive
[submodule "src/spinal-browser-user_role_manager"]
	path = src/spinal-browser-user_role_manager
	url = https://github.com/spinalcom/spinal-browser-user_role_manager
